<h2 class="text-center">Registre-se e mostre o seu pet ao mundo!</h2>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="onCadastrar()">
  <div class="input-group mb-3">
    <input
      placeholder="E-mail"
      class="form-control"
      type="text"
      name="email"
      formControlName="email"
    />
  </div>
  <div class="input-group mb-3">
    <input
      placeholder="Nome Completo"
      class="form-control"
      type="text"
      name="fullname"
      formControlName="fullname"
    />
  </div>
  <div class="input-group mb-3">
    <input
      placeholder="Usuário"
      class="form-control"
      type="text"
      name="user"
      formControlName="userName"
    />
  </div>
  <div class="input-group mb-3">
    <input
      placeholder="Senha"
      class="form-control"
      type="text"
      name="password"
      formControlName="password"
    />
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-primary btn-block" type="submit">Cadastrar</button>
  </div>
</form>

<p class="text-center mt-2">
  Já é um usuário?
  <a class="cor" [routerLink]="['']" style="text-decoration: none"
    >Faça o login</a
  >
</p>
