<h2 class="text-center">Registre-se e mostre o seu pet ao mundo!</h2>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="onCadastrar()">
  <div class="input-group mb-3">
    <input
      placeholder="E-mail"
      class="form-control"
      type="text"
      name="email"
      formControlName="email"
    />
  </div>
  <app-mensagem
    *ngIf="
      novoUsuarioForm.get('email')?.errors?.required &&
      novoUsuarioForm.get('email')?.touched
    "
    mensagem="Informe o e-mail."
  >
  </app-mensagem>
  <app-mensagem
    *ngIf="
      novoUsuarioForm.get('email')?.errors?.email &&
      novoUsuarioForm.get('email')?.touched
    "
    mensagem="E-mail inválido!."
  >
  </app-mensagem>
  <app-mensagem
    *ngIf="
      novoUsuarioForm.get('email')?.errors?.minusculo &&
      novoUsuarioForm.get('email')?.touched
    "
    mensagem="Utilize somente caracteres minúsculo."
  >
  </app-mensagem>
  <div class="input-group mb-3">
    <input
      placeholder="Nome Completo"
      class="form-control"
      type="text"
      name="fullname"
      formControlName="fullName"
    />
  </div>
  <app-mensagem
    *ngIf="
      novoUsuarioForm.get('fullName')?.errors?.required &&
      novoUsuarioForm.get('fullName')?.touched
    "
    mensagem="Informe o nome completo."
  >
  </app-mensagem>
  <div class="input-group mb-3">
    <input
      placeholder="Usuário"
      class="form-control"
      type="text"
      name="user"
      formControlName="userName"
    />
  </div>
  <app-mensagem
    *ngIf="
      novoUsuarioForm.get('userName')?.errors?.required &&
      novoUsuarioForm.get('userName')?.touched
    "
    mensagem="Informe o nome do usuário."
  >
  </app-mensagem>
  <app-mensagem
    *ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente"
    mensagem="Usuário já existe!"
  >
  </app-mensagem>
  <div class="input-group mb-3">
    <input
      placeholder="Senha"
      class="form-control"
      type="password"
      name="pswd"
      formControlName="password"
    />
  </div>
  <app-mensagem
    *ngIf="
      novoUsuarioForm.get('password')?.errors?.required &&
      novoUsuarioForm.get('password')?.touched
    "
    mensagem="Informe a senha."
  >
  </app-mensagem>
  <app-mensagem
    *ngIf="novoUsuarioForm.errors?.senhaIgualUsuario"
    mensagem="Usuário e Senha devem ser diferentes."
  >
  </app-mensagem>
  <div class="d-grid gap-2">
    <button class="btn btn-primary btn-block" type="submit">Cadastrar</button>
  </div>
</form>

<p class="text-center mt-2">
  Já é um usuário?
  <a class="cor" [routerLink]="['']" style="text-decoration: none"
    >Faça o login</a
  >
</p>
